-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: db_banksampah
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `detail_setoran`
--

DROP TABLE IF EXISTS `detail_setoran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_setoran` (
  `id_detail_setoran` int NOT NULL AUTO_INCREMENT,
  `id_transaksi_setor` int NOT NULL,
  `id_jenis_sampah` int NOT NULL,
  `berat_kg` decimal(5,2) NOT NULL,
  `harga_saat_setor` decimal(10,2) NOT NULL,
  `subtotal_nilai` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id_detail_setoran`),
  KEY `id_transaksi_setor` (`id_transaksi_setor`),
  KEY `id_jenis_sampah` (`id_jenis_sampah`),
  CONSTRAINT `detail_setoran_ibfk_1` FOREIGN KEY (`id_transaksi_setor`) REFERENCES `transaksi` (`id_transaksi`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `detail_setoran_ibfk_2` FOREIGN KEY (`id_jenis_sampah`) REFERENCES `jenis_sampah` (`id_jenis_sampah`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_setoran`
--

LOCK TABLES `detail_setoran` WRITE;
/*!40000 ALTER TABLE `detail_setoran` DISABLE KEYS */;
INSERT INTO `detail_setoran` VALUES (1,1,1,1.50,3000.00,4500.00),(2,1,2,2.00,1500.00,3000.00);
/*!40000 ALTER TABLE `detail_setoran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `edukasi`
--

DROP TABLE IF EXISTS `edukasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `edukasi` (
  `id_edukasi` int NOT NULL AUTO_INCREMENT,
  `judul` varchar(150) COLLATE utf8mb4_general_ci NOT NULL,
  `konten` text COLLATE utf8mb4_general_ci NOT NULL,
  `gambar` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `video_url` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `video_path` varchar(255) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `author_id` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_edukasi`),
  KEY `author_id` (`author_id`),
  CONSTRAINT `edukasi_author_fk` FOREIGN KEY (`author_id`) REFERENCES `pengguna` (`id_pengguna`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `edukasi`
--

LOCK TABLES `edukasi` WRITE;
/*!40000 ALTER TABLE `edukasi` DISABLE KEYS */;
INSERT INTO `edukasi` VALUES (1,'Pilah Sampah Rumah Tangga','Panduan dasar memilah sampah organik dan anorganik.','','https://www.youtube.com/watch?v=dQw4w9WgXcQ',NULL,1,'2026-06-04 03:32:48','2026-06-04 03:32:48');
/*!40000 ALTER TABLE `edukasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jenis_sampah`
--

DROP TABLE IF EXISTS `jenis_sampah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jenis_sampah` (
  `id_jenis_sampah` int NOT NULL AUTO_INCREMENT,
  `nama_sampah` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `harga_per_kg` decimal(10,2) NOT NULL,
  `deskripsi` text COLLATE utf8mb4_general_ci,
  `satuan` varchar(10) COLLATE utf8mb4_general_ci DEFAULT 'kg',
  PRIMARY KEY (`id_jenis_sampah`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jenis_sampah`
--

LOCK TABLES `jenis_sampah` WRITE;
/*!40000 ALTER TABLE `jenis_sampah` DISABLE KEYS */;
INSERT INTO `jenis_sampah` VALUES (1,'Plastik Botol (PET)',3000.00,'Botol plastik bekas air mineral, minuman soda, dll.','kg'),(2,'Kardus',1500.00,'Kardus bekas kemasan.','kg'),(3,'Kertas HVS/Buku',1200.00,'Kertas bekas HVS, buku tulis, koran.','kg'),(4,'Logam (Besi)',2500.00,'Besi tua, kaleng, dll.','kg'),(5,'Logam (Aluminium)',8000.00,'Kaleng minuman, bekas peralatan aluminium.','kg'),(6,'Gelas Plastik (PP)',2200.00,'Gelas plastik bekas minuman teh, kopi, dll.','kg');
/*!40000 ALTER TABLE `jenis_sampah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengguna`
--

DROP TABLE IF EXISTS `pengguna`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengguna` (
  `id_pengguna` int NOT NULL AUTO_INCREMENT,
  `nama_lengkap` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `username` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `level` enum('admin','petugas','warga') COLLATE utf8mb4_general_ci NOT NULL,
  `alamat` text COLLATE utf8mb4_general_ci,
  `no_telepon` varchar(15) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Digunakan untuk cek info publik warga',
  `saldo` decimal(10,2) DEFAULT '0.00',
  `tanggal_daftar` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_pengguna`),
  UNIQUE KEY `username` (`username`),
  KEY `no_telepon` (`no_telepon`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengguna`
--

LOCK TABLES `pengguna` WRITE;
/*!40000 ALTER TABLE `pengguna` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengguna` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaksi`
--

DROP TABLE IF EXISTS `transaksi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaksi` (
  `id_transaksi` int NOT NULL AUTO_INCREMENT,
  `id_warga` int NOT NULL,
  `id_petugas_pencatat` int NOT NULL,
  `tanggal_transaksi` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `tipe_transaksi` enum('setor','tarik_saldo') COLLATE utf8mb4_general_ci NOT NULL,
  `total_nilai` decimal(10,2) NOT NULL DEFAULT '0.00',
  `keterangan` text COLLATE utf8mb4_general_ci,
  PRIMARY KEY (`id_transaksi`),
  KEY `id_warga` (`id_warga`),
  KEY `id_petugas_pencatat` (`id_petugas_pencatat`),
  CONSTRAINT `transaksi_ibfk_1` FOREIGN KEY (`id_warga`) REFERENCES `pengguna` (`id_pengguna`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `transaksi_ibfk_2` FOREIGN KEY (`id_petugas_pencatat`) REFERENCES `pengguna` (`id_pengguna`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaksi`
--

LOCK TABLES `transaksi` WRITE;
/*!40000 ALTER TABLE `transaksi` DISABLE KEYS */;
INSERT INTO `transaksi` VALUES (1,3,2,'2025-05-30 19:06:08','setor',7500.00,'Setoran sampah rutin'),(2,4,1,'2025-05-30 19:06:08','tarik_saldo',10000.00,'Penarikan tunai');
/*!40000 ALTER TABLE `transaksi` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-09 20:35:37
